.newHireInitiationFlow {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  width: 100%;
  position: relative;
  flex-direction: row;
  letter-spacing: normal;
  text-align: center;
  font-size: var(--font-size-xl);
  color: var(--gray-400);
  font-family: var(--text-sm-font-semibold);
}
.button {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  flex: 1;
  flex-direction: column;
}
.frameAccordionButton {
  align-self: stretch;
  height: 100vh;
  position: relative;
  background-color: var(--gray-50);
  overflow-y: auto;
  flex-shrink: 0;
  max-width: 100%;
  text-align: left;
  font-size: var(--font-size-smi);
  color: var(--gray-900);
  font-family: var(--text-sm-font-semibold);
}
@media screen and (max-width: 1025px) {
  .frameAccordionButton {
    height: auto;
    min-height: 696;
  }
}
.whichAgreementsFormsAndNoParent {
  position: absolute;
  top: 24px;
  left: 178px;
  border-radius: var(--br-5xs);
  background-color: var(--white);
  border: 1px solid var(--gray-200);
  box-sizing: border-box;
  width: 1024px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  padding: var(--padding-5xl) 23px;
  gap: 16px 0;
  max-width: 100%;
  font-size: var(--text-lg-font-semibold-size);
}
.employeesAssignedTo,
.whichAgreementsForms {
  align-self: stretch;
  position: relative;
  line-height: 150%;
  font-weight: 600;
}
.employeesAssignedTo {
  font-size: var(--text-sm-font-semibold-size);
  font-weight: 500;
}
.documentSelector,
.selectBox1,
.selectInput {
  display: flex;
  justify-content: flex-start;
  max-width: 100%;
}
.documentSelector {
  align-self: stretch;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  gap: 0 24px;
  font-size: var(--text-base-font-normal-size);
}
.selectInput {
  position: absolute;
  top: 160px;
  left: 178px;
  width: 1024px;
  flex-direction: column;
  align-items: flex-start;
  gap: 8px 0;
  font-size: var(--text-sm-font-semibold-size);
}
.label {
  flex-direction: row;
  align-items: center;
  align-self: stretch;
  display: flex;
  justify-content: flex-start;
  gap: 0 8px;
}
.label1 {
  line-height: 150%;
  font-weight: 500;
  position: relative;
}
.accordion,
.selectBox {
  border-radius: var(--br-5xs);
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  max-width: 100%;
}
.accordion {
  align-self: stretch;
  box-shadow: var(--shadow-sm);
  border: 1px solid var(--orange-500);
  overflow: hidden;
  min-width: 340px;
  min-height: 854px;
  color: var(--gray-600);
}
.selectBox {
  flex: 1;
  background-color: var(--white);
  border: 1px solid var(--gray-300);
  padding: var(--padding-base) var(--padding-mini);
  gap: 12px 0;
}
.label3 {
  line-height: 150%;
  font-weight: 500;
  align-self: stretch;
  position: relative;
}
.dropdownOption,
.inputFieldParent {
  align-self: stretch;
  display: flex;
  justify-content: flex-start;
}
.dropdownOption {
  border-radius: var(--br-9xs);
  background-color: var(--white);
  flex-direction: row;
  align-items: center;
  padding: var(--boundvariablesdata2) var(--padding-10xs)
    var(--boundvariablesdata2) var(--boundvariablesdata7);
  gap: 0 8px;
}
.inputFieldParent {
  flex-direction: column;
  align-items: flex-start;
  gap: 12px 0;
  max-width: 100%;
  font-size: var(--text-sm-font-semibold-size);
}
.label6 {
  line-height: 150%;
  font-weight: 500;
  align-self: stretch;
  position: relative;
}

.emptyState {
  border-radius: var(--br-5xs);
  box-sizing: border-box;
  flex-direction: column;
  align-self: stretch;
  background-color: var(--gray-100);
  border: 1px solid var(--gray-200);
  display: flex;
  align-items: center;
  justify-content: flex-start;
  padding: 40px 39px;
  gap: 24px 0;
  min-height: 1034px;
  text-align: center;
  font-size: 64px;
  color: var(--gray-300);
}
.text22 {
  align-self: stretch;
  position: relative;
  font-size: var(--text-xs-font-semibold-size);
  line-height: 150%;
  font-weight: 600;
  color: var(--gray-500);
}
.textWithButton {
  width: 369px;
  position: relative;
  line-height: 14px;
  font-weight: 500;
  display: flex;
  align-items: center;
  max-width: 100%;
}
.accordionBody {
  display: flex;
  align-items: flex-start;
  align-self: stretch;
  flex-direction: row;
  justify-content: flex-start;
  gap: 0 12px;
  text-align: center;
  font-size: var(--text-base-font-normal-size);
  color: var(--gray-600);
}
.content1 {
  align-self: stretch;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  gap: 0 10px;
}
.selectInput1 {
  flex: 1;
  border-radius: var(--br-5xs);
  background-color: var(--white);
  border: 1px solid var(--gray-300);
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: space-between;
  padding: var(--boundvariablesdata2) var(--padding-2xs)
    var(--boundvariablesdata2) var(--padding-4xs);
  min-width: 171px;
  cursor: pointer;
}
.placeholder {
  flex: 1;
  position: relative;
  font-size: var(--text-sm-font-semibold-size);
  line-height: 150%;
  color: var(--gray-900);
  text-align: left;
}
.dropdownMenuButton {
  display: flex;
  align-items: flex-start;
  align-self: stretch;
  flex-direction: row;
  justify-content: flex-start;
  gap: 0 12px;
  text-align: center;
  font-size: var(--text-base-font-normal-size);
  color: var(--gray-600);
}
.dropdownOptionFrame {
  flex: 1;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  gap: 0 3px;
  min-width: 203px;
}
.text1,
.textFrame {
  position: relative;
  line-height: 14px;
  font-weight: 500;
}
.text1 {
  flex: 1;
  display: inline-block;
  min-width: 111px;
}
.labelHelper,
.toggle,
.toggle1 {
  display: flex;
  justify-content: flex-start;
}
.labelHelper {
  flex-direction: column;
  align-items: flex-start;
  gap: 6px 0;
}
.toggle,
.toggle1 {
  flex-direction: row;
}
.toggle1 {
  align-items: center;
  gap: 0 8px;
}
.toggle {
  align-items: flex-start;
  font-size: var(--text-base-font-normal-size);
}
.writeLabelText {
  position: relative;
  line-height: 125%;
}
.emptyState,
.selectBox1 {
  border-radius: var(--br-5xs);
  box-sizing: border-box;
  flex-direction: column;
}
.selectBox1 {
  flex: 1;
  background-color: var(--white);
  border: 1px solid var(--gray-300);
  overflow: hidden;
  align-items: flex-start;
  padding: var(--padding-base) var(--padding-mini);
  gap: 12px 0;
  min-width: 375px;
}
.documentSelector,
.selectBox1,
.selectInput {
  display: flex;
  justify-content: flex-start;
  max-width: 100%;
}
.icon94 {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
}

@media screen and (max-width: 450px) {
  .selectBox1 {
    min-width: 100%;
  }
  .accordionBody,
  .dropdownMenuButton {
    flex-wrap: wrap;
  }
  .textFrame {
    width: 100%;
    height: 18px;
  }
}
